<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Wishlist</title>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    
    <div class="summary-div">
        <h3><%= book.title %></h3>
        <p>Rating: <%= book.rating %></p>
        <p>Comments: <%= book.comments %></p>
    </div>
    <div class="button-div footer">
        <a href="/"><button>Home</button></a>
    </div>
</body>
</html>